
.margin-bottom{
  margin-bottom : 1rem !important;
}
.hobby-card{
  background-color: rgba(70, 71, 153,1);
  padding: 1em;
  text-align: center;
  margin: 1em;
  color: white;

}
.hobby-card__title{
  font-size: 1.5rem;
  color: #ff8c0d;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}
.hobby-car__elem{
  margin-bottom:1em;
  padding-left:1.5em;
  text-indent:-1.5em;
}
.section--hobbies{
  padding: 4em 2em;
}
.span_skills{
  font-family: 'Ubuntu';
  font-size: 2rem;
  z-index: 2 !important;
  border-bottom: 3px red solid;
  font-weight:bold;
 
 }
 .span_skills{
  font-family: 'Ubuntu';
  font-size: 2rem;
  z-index: 2 !important;
  border-bottom: 3px red solid;
  font-weight:bold;
 
 }
 .span--hobbies{
  font-family: 'Ubuntu';
  font-size: 2rem;
  z-index: 2 !important;
  border-bottom: 3px red solid;
  font-weight:bold;
 
 }
 .web{
   font-style: 'Dusha';
   font-size: 1.25rem;
   font-weight: bold;
   padding-bottom:  0rem !important;
 }
 .skills.space{
   margin-top: 1rem;
   
 }
 span.web{
  border-bottom: 1px red solid;

 }
 .section--2{
   background-color: rgb(22, 23, 69);
 }
 .span_skills::after{
  content: "" !important;
  height: .15em !important;
  position:absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  background-color: rgba(70, 71, 153,1) !important;
  z-index: -1 !important;

}
*,::after,::before{
  box-sizing: border-box !important;
}
 $progress-value-background-color:rgba(70, 71, 153,1);
 $progress-bar-background-color: rgba(234, 225, 225,.6);
 .progress{
   border-radius: 0px !important;
   margin-bottom: 1rem !important;
 }
 .skills{
   font-family: 'Ubuntu';
   font-size: 1rem;
   font-weight: bold;
 }
 .section--thin{
   max-width: 30rem !important;
   line-height: 2;
   margin: 0 auto;
   max-width: 480px;
 }
.section--wide{
  width: 900px;
  max-width: 100%;
  padding: 2em 1em !important;
  margin-left: auto;
  margin-right: auto;
}
.kitolto{ 
  text-align:center;
  background: #ff3232;
  /* Old browsers */
  background: linear-gradient(to right, red 50%, rgba(70, 71, 153,1)  50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition:all 0.5s ease;
animation: cubic-bezier(0.165, 0.84, 0.44, 1);
  color: white;
}
.kitolto:hover{
background-position:left bottom;
}
.border-tech{
  background-color: rgba(70, 71, 153,1);
  margin: 2px;
  font-family: 'Ubuntu';
  font-weight:bold !important;
  font-size: 2rem !important;
}
.about-text{
  font-family: 'Ubuntu';
  color: black;
  font-size: 1em;
  font-weight: bold;
  
}
.progress-title{
  font-family: 'Ubuntu';
  color:white;
  font-weight: bold !important;
  font-size: 1rem !important;
  padding: 1rem;
}
.head-interests{
border-bottom: 3px solid black;
color: black;
margin-bottom: 1rem;
font-weight: bold !important;
font-family: 'Ubuntu';
font-size: 2rem;
margin-top: 1em;
}

.bg-tech{
  background-color: rgba(234, 225, 225,.6);
}

.left-right-margin{
  margin-left: 0px !important;
  margin-right: 0px !important;
}


.arrow{
    color: white;
    margin-top: 2em;
    border: 2px solid white;
    border-radius: 100px;
  }
  .icon-bg{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .bg-trans{
    background-color:rgba(70, 71, 153,.9) !important;
  }
  
  
    // Import Bulma's core
    @import "~bulma/sass/utilities/_all";
    // Set your colors
    $primary: #f1896f;
    $primary-invert: findColorInvert($primary);
    $twitter: #4099ff;
    $twitter-invert: findColorInvert($twitter);
    // Setup $colors to use as bulma classes (e.g. 'is-twitter')
    $colors: (
        "white": ($white, $black),
        "black": ($black, $white),
        "light": ($light, $light-invert),
        "dark": ($dark, $dark-invert),
        "primary": ($primary, $primary-invert),
        "info": ($info, $info-invert),
        "success": ($success, $success-invert),
        "warning": ($warning, $warning-invert),
        "danger": ($danger, $danger-invert),
        "twitter": ($twitter, $twitter-invert)
    );
    // Links
    $link: $primary;
    $link-invert: $primary-invert;
    $link-focus-border: $primary;
  
    // Import Bulma and Buefy styles
  
  .vhcenter{
    position:relative; /*it can be fixed too*/
          left:0; right:0;
          top:0; bottom:0;
          margin:auto;
  
          /*this to solve "the content will not be cut when the window is smaller than the content": */
          max-width:100%;
          max-height:100%;
          overflow:auto;
  }
  
  .bg-img-tech{
    min-height:50vh;
    background-image: url(../../static/tools-cropped.jpg);
    color: white !important;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bg-img-hobby{
    min-height:50vh;
    background-image: url(../../static/kutya.jpg);
    color: white !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bg-img-about{
    background-image: url(../../static/padis.jpg);
    min-height:50vh;
    color: white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
  }
  .title-header{
    color: white !important;
    font-size: 2em !important;
  }
  .title-section2{
    color: white !important;
    
    font-size:2em !important;
    font-weight: bold;
   
    
  }
  .title-section3{
    color: white !important;
      font-size:2em !important;
      font-weight:bold !important;
   
    
  }
  .title-section4{
    color: white !important;
    
    font-size:2em !important;
    font-weight: bold;
   
    
  }
  @import url('https://fonts.googleapis.com/css?family=Modern+Antiqua|Ubuntu');
  .title-2{
      font-size: 2em !important;
    }
  .gomb-level2{
    color: black !important;
    border-color: black !important;
    background-color: black; 
    font-size: 1em !important;
  }
  
  .margin-0{
    margin: 0px !important;
  }
  
  .image{
    height: 50%;
    width: 50%;
  }
  .padding-0{
    padding: 0px !important;
  
  }
  .is-vertical-center {
    display: flex;
    align-items: center;
  }
  .top-no-space{
    margin-top:0px !important;
  }
  .bottom-no-space{
  margin-bottom: 0px !important;
  
  }
  .no-space{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  
  }
  .hcenter{
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .vcenter{
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
   .background-image {
    background: url(../../static/bg.jpg) center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  section{
  &.fullheight{
    height: calc(106vh - ( 3.25rem ) );
    &.is-large{
      &.vcenter{ padding: 12rem 1.25rem !important;
  
    }
  }
  }
  }
  .gomb-level{
      font-size: 2rem !important;
      margin-top: 1rem;
      background-color:rgba(70, 71, 153,0) !important;
      border: 2px solid white !important;
      color: white !important;
      margin-bottom: 1rem;
  
    }
    .gomb-level2{
      background-color: white !important;
    color: black !important;
    border-color:black !important;
      font-size: 2rem !important;
      margin-top: 1rem;
  
    }
  
  
  @font-face {
      font-family: '2Peas';
      src: url(../../assets/Fonts/2Peas.ttf);
  }
  @font-face {
    font-family: 'Dusha';
    src: url(../../assets/Fonts/Dusha.ttf);
}
  
  @import "~bulma";
    @import "~buefy/src/scss/buefy";
    @import "../../assets/css/animate.css";
    @import "../../assets/css/hover.css";
  
