<template>
  <div>
   <nav class="navbar is-transparent is-fixed-top transparent is-dark">
  <div class="navbar-brand">
    <nuxt-link class="navbar-item" to="/">
      <h1 class="title-navbar">Kovács Gábor</h1>    </nuxt-link>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</a>

   
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-end">
      <nuxt-link to="/" class="navbar-item">Home</nuxt-link>
      <nuxt-link to="/tech" class="navbar-item">Technologies</nuxt-link>
      <nuxt-link to="/about" class="navbar-item">About</nuxt-link>
      <nuxt-link to="/contact" class="navbar-item">Contact</nuxt-link>
      
    </div>

  </div>
</nav>
    <nuxt/>
  </div>
</template>

<script>
export default {
   
}
</script>
<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Modern+Antiqua|Ubuntu');
@font-face {
    font-family: 'Dusha';
    src: url(../assets/Fonts/Dusha.ttf);
}

.title-navbar{
  font-family: 'Dusha';
  font-size: 2rem ;
}
.navbar-menu{
  font-size: 1rem !important;
}
html {
  font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
.transparent{
  color: white !important;
  border-width: 0px !important;
    -webkit-box-shadow: 0px 0px !important;
    box-shadow: 0px 0px !important;
    background-color:rgba(1, 87, 155, 0.5) !important;
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00))) !important;
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%) !important;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%) !important;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
.navbar{
  font-family: 'Ubuntu';
}

</style>

