    <template>
     <div id="container" class="bg">  
     
<section class="section  vcenter background-image ">      
<div class="container is-fluid is-gapless bg-tech left-right-margin">

  <div class="section section--thin">
      <h1 class="head-interests has-text-centered" id="box">About Me!</h1>
      <p class=" about-text column">My name is Gabor Kovacs. I am a webprogrammer located in Szeged, Hungary.
                              I'm 31 years old. I have a dog, it's a Dachshund, I like him very much.
                             I like seeing movies, listening to music, biking.
                             I like also swimming, diving,  hiking.</p>
  </div>

        <div class="section section--wide">
        <div class="columns">
         <div class="column"><span class="span_skills">Skills</span></div>
        </div>
        
         
           <div class="columns">
             <div class="column">
               <span class="web">Web technologies</span>

                <h1 class="skills space">HTML</h1>          
                <progress class="progress" value="92" max="100">92%</progress>
                <h1 class="skills">CSS</h1>
                <progress class="progress" value="95" max="100">15%</progress>
                 <h1 class="skills">SQL</h1>
                <progress class="progress" value="89" max="100">15%</progress>
                 <h1 class="skills">SCSS</h1>
                <progress class="progress" value="58" max="100">15%</progress>
                 <h1 class="skills">VueJS</h1>          
                <progress class="progress" value="33" max="100">HTML</progress>
                 <h1 class="skills">PHP</h1>
                <progress class="progress" value="97" max="100">15%</progress>
                 <h1 class="skills">JQuery</h1>
                <progress class="progress" value="68" max="100">15%</progress>
                 <h1 class="skills">Wordpress</h1>
                <progress class="progress" value="60" max="100">15%</progress>
                <h1 class="skills">Javascript</h1>
                <progress class="progress" value="50" max="100">92%</progress>
                 <h1 class="skills">PHP</h1>
                <progress class="progress" value="97" max="100">92%</progress>
             </div>
             <div class="column">
               <span class="web">Databases</span>
                <h1 class="skills space">MongoDB</h1>          
                <progress class="progress" value="92" max="100">92%</progress>
                <h1 class="skills">MySQL</h1>
                <progress class="progress" value="95" max="100">15%</progress>

               <span class="web">Languages</span>

                 <h1 class="skills space">English</h1>
                <progress class="progress" value="89" max="100">15%</progress>
                 <h1 class="skills">Deutsch</h1>
                 <progress class="progress" value="30" max="100">15%</progress>

                <span class="web">Other tools</span>

                 <h1 class="skills space">Microsoft Office</h1>
                <progress class="progress" value="95" max="100">15%</progress>
                 <h1 class="skills">GIT</h1>
                 <progress class="progress" value="30" max="100">15%</progress>
             </div>
           </div>
         
        </div>
<div class="section section--wide section--hobbies">
  <div class="columns">
         <div class="column has-text-centered"><span class="span--hobbies">Hobbies</span></div>
  </div>  
  <div class="columns">
    <div class="column hobby-card">
      <h1 class="hobby-card__title">Listen</h1>
      <p class="hobby-card__elem">Listening to metal, pop music, and top hits.</p>
    </div>
    <div class="column hobby-card">
       <h1 class="hobby-card__title">Swimming</h1>
      <p class="hobby-card__elem">I like water, and I like to dive deep.</p>
    </div>
    <div class="column hobby-card">
       <h1 class="hobby-card__title">Games</h1>
      <p class="hobby-card__elem"> Sometimes I play with video games. I like fps shooters very much.</p>
    </div>
  </div>

</div>
</div>

</section>

  </div>
   
    </template>

<script>
export default {
  scrollToTop: true,
      
 mounted() { 
      var $box= document.getElementById("box")
    TweenLite.to($box, 2, {css:{borderBottom: "3px solid #8B0000"}} ); 
    
   
}
}
import {CSSPlugin, AttrPlugin, TweenLite }  from "gsap";

const plugins = [ CSSPlugin, AttrPlugin ];


</script>
