    <script>
/*function send(){
  const sgMail = require('@sendgrid/mail');
                  sgMail.setApiKey(process.env.SENDGRID_API_KEY);
              const msg = {
                  to: 'gabkov@gmail.com',
                  from: from,
                  subject: subject,
                  text: text,
                  html: '<strong>and easy to do anywhere, even with Node.js</strong>',
              };
              sgMail.send(msg);
              console.log("Elment");
}
*/
import Vue from 'vue'
const app = new Vue({

el: "#app",
data: {
      from : 'jhsagfg',
      subject: 'aslfhnljashfk',
      text: 'aHFSAKJHFJKASHFJK'

    

  },
  methods: {
    sendMail: function(){
              const sgMail = require('@sendgrid/mail');
                  sgMail.setApiKey(process.env.SENDGRID_API_KEY);
              const msg = {
                  to: 'gabkov@gmail.com',
                  from: 'xyz@gmail.com',
                  subject: 'Hello',
                  text: 'FAsza',
                  html: '<strong>and easy to do anywhere, even with Node.js</strong>',
              };
              sgMail.send(msg);
              console.log("Elment");
    }
  }

});





export default {
scrollToTop: false,


};
</script>
    <template>
     <div id="container" class="bg">  
     
<section class="section  vcenter background-image ">      
<div class="container is-fluid is-gapless bg-tech left-right-margin">

  <div class="section--thin">

    <h1 class="head-interests has-text-centered" id="box">Contact Me!</h1>

        <div id="app">
          <section>
            <h3>From</h3>
            <input v-model="from" type="email"  name="from" id="from" placeholder="What email adress?">
          </section>
          <section><h3>Subject</h3>
          <input  v-model="subject" type="text" name="subject" id="subject"  placeholder="Subject here...">
          </section>
          <section>
            <h3>Message</h3>
            <textarea v-model="text" name="message" id="text" placeholder="Message here..."></textarea>
          </section>
          <button v-on:click="sendMail">Ok</button>
        </div>

  </div>
  </div>



</section>

  </div>
   
    </template>

