<template>
 <div id="container" class="bg">  
     
  <section class="section is-large vcenter background-image fullheight">

          
         <div class="container is-fluid is-gapless">
        <parallax-container>

      
       <parallax-element :parallaxStrength="10" :type="'depth'">
      <div class="columns top-no-space">
    <div class="column has-text-lefted vcenter">
    <p class="title-header "><span class="title-2">Hello! My Name is Gabor Kovacs<br></span> I'm a webprogrammer from Hungary, Szeged</p>
  </div>
  <div class="column is-2">
  </div>
  <div class="column padding-0 is-5 has-text-centered">
    <img src="../static/magam.jpg" height="60%" width="60%"/>
  </div>
 
</div>
 </parallax-element>
</parallax-container>
    </div>
    

<div class="container is-fluid is-gapless">
 <div class="columns top-no-space">
    <div class="column has-text-centered"><b-icon
                icon="arrow-down"
                size="is-large" class="arrow">
            </b-icon></div>
  </div>
</div>  



  </section>

  <section class="section is-large vcenter bg-img-tech">
    <div class="container vcenter is-vertical-center">
      <div class="column is-4"></div>
      <div class="column is-4 bg-trans">
      <div class="column has-text-centered">&nbsp;<i class="fas fa-code fa-5x animated fadeInRight delay-2s icon-bg"></i>&nbsp;</div>
     <div class="column has-text-centered animated fadeInLeft delay-2s "><span class="title-section2 ">&nbsp;Technologies what I've learned!&nbsp;</span></div>
       <div class="column has-text-centered animated fadeInLeft delay-2s"><nuxt-link to="/tech" class="button is-outlined is-rounded gomb-level hvr-grow">More info!</nuxt-link></div>
      </div>
      <div class="column is-4"></div>
    </div>
</section>

<section class="section is-large vcenter bg-img-about">
  
    <div class="container vcenter is-vertical-center">
      <div class="column is-4"></div>
      <div class="column is-4 bg-trans">
      <div class="column has-text-centered"><i class="fas fa-edit fa-5x animated fadeInRight delay-2s icon-bg"></i></div>
     <div class="column has-text-centered animated fadeInUp delay-2s "><span class="title-section4 ">&nbsp;Some informations about Me!&nbsp;</span></div>
       <div class="column has-text-centered animated fadeInUp delay-2s"><nuxt-link to="/about" class="button is-outlined is-rounded gomb-level hvr-grow">Click here!</nuxt-link></div>
    </div>
    
    <div class="column is-4"></div>
    </div>

</section>
  </div>
</template>

<script>
import Vue from 'vue'
        import VueMouseParallax from 'vue-mouse-parallax'
 
        Vue.use(VueMouseParallax)

export default {
   scrollToTop: true,
  
}
</script>


