    <template>
     <div id="container" class="bg">  
     
<section class="section   vcenter background-image ">      
<div class="container is-fluid is-gapless bg-tech left-right-margin">
    <div class="section section--thin">
      <div class="columns header-info">
        <div class="column has-text-centered">
         <div id="app"><div class="head-interests" id="box"><div class="header-tech">Technologies what I have used!</div></div></div>
        </div>
    </div>
    </div>
  
     <div class="section section--wide">
     <div class="columns left-right-margin">
       <div class="column animated fadeInLeft delay-1s"><div  class="border-tech kitolto "><div  class="progress-title has-text-centered">CSS</div></div></div>
       <div class="column animated fadeInLeft delay-1s"><div class="border-tech kitolto "><h1  class="progress-title has-text-centered">HTML5</h1></div></div>
      
       
      
     </div>
     <div class="columns left-right-margin">
        <div class="column animated fadeInLeft delay-1s"><div class="border-tech kitolto "><h1  class="progress-title has-text-centered">Bootstrap</h1></div></div>
       <div class="column animated fadeInLeft delay-1s"><div class="border-tech kitolto "><h1  class="progress-title has-text-centered">Javascript</h1></div></div>
     </div>
     <div class="columns left-right-margin">
        <div class="column animated fadeInLeft delay-1s"><div class="border-tech kitolto "><h1  class="progress-title has-text-centered">VueJS</h1></div></div>
       <div class="column animated fadeInLeft delay-1s"><div class="border-tech kitolto "><h1  class="progress-title has-text-centered">PhpMyAdmin</h1></div></div>
     </div>
     <div class="columns left-right-margin">
        <div class="column animated fadeInLeft delay-1s"><div class="border-tech kitolto"><h1  class="progress-title has-text-centered">MySQL</h1></div></div>
       <div class="column animated fadeInLeft delay-1s"><div class="border-tech kitolto "><h1  class="progress-title has-text-centered">Nuxt.JS</h1></div></div>
       </div>
       <div class="columns left-right-margin">
       <div class="column animated fadeInLeft delay-1s"><div class="border-tech kitolto "><h1  class="progress-title has-text-centered">Bulma</h1></div></div>
       <div class="column animated fadeInLeft delay-1s"><div class="border-tech kitolto "><h1  class="progress-title has-text-centered">PHP</h1></div></div>
       </div>
     
     <div class="columns left-right-margin">
         <div class="column animated fadeInLeft delay-1s"><div class="border-tech kitolto "><h1  class="progress-title has-text-centered">BootstrapVue</h1></div></div>
       <div class="column animated fadeInLeft delay-1s"><div class="border-tech kitolto "><h1  class="progress-title has-text-centered">Wordpress</h1></div></div>
    
     </div>
      <div class="columns left-right-margin">
        <div class="column animated fadeInLeft delay-1s"><div class="border-tech kitolto "><h1  class="progress-title has-text-centered">CMS</h1></div></div>
       <div class="column animated fadeInLeft delay-1s"><div class="border-tech kitolto"><h1  class="progress-title has-text-centered">SCSS</h1></div></div>
      </div>
      <div class="columns left-right-margin">
       <div class="column animated fadeInLeft delay-1s"><div class="border-tech kitolto "><h1  class="progress-title has-text-centered">JQuery</h1></div></div>
       <div class="column animated fadeInLeft delay-1s"><div class="border-tech kitolto "><h1  class="progress-title has-text-centered">Joomla</h1></div></div>
     </div>
     <div class="columns left-right-margin margin-bottom">
        <div class="column animated fadeInLeft delay-1s" ><div class="border-tech kitolto "><h1  class="progress-title has-text-centered">Drupal</h1></div></div>
       <div class="column animated fadeInLeft delay-1s "><div class="border-tech kitolto "><h1  class="progress-title has-text-centered">Flash</h1></div></div>
     </div>
     <div class="columns left-right-margin">
       <div class="column animated fadeInLeft delay-1s"><div class="border-tech kitolto "><h1  class="progress-title has-text-centered">ASP.NET</h1></div></div>
       <div class="column animated fadeInLeft delay-1s"><div class="border-tech kitolto "><h1  class="progress-title has-text-centered">Buefy</h1></div></div>
     </div>
</div>
</div>
  </section>
  </div>
   
    </template>

<script>
 
export default {
  scrollToTop: true,
 mounted(){
var $box= document.getElementById("box")
    TweenLite.to($box, 2, {css:{borderBottom: "3px solid #8B0000"}} ); 

 }
  
}
import Vue from 'vue'
        import VueMouseParallax from 'vue-mouse-parallax'
 
        Vue.use(VueMouseParallax)
 import {CSSPlugin, AttrPlugin, TweenLite }  from "gsap";

const plugins = [ CSSPlugin, AttrPlugin ];


</script>

